<app-menu></app-menu>
<div>
    <section class="heading">
      <span class="page-title font-weight-bold font-italic">{{ title }}</span>
      <span> | <a routerLink="/request-list">Return to List</a></span>
    </section>
    <main class="single">
      <table class="table table-sm">
        <tr>
            <td>User:</td>
            <td>
              <input
                [value]="loggedInUser.firstName + ' ' + loggedInUser.lastName"
                class="rounded"
                type="text"
                disabled
              />
            </td>
          </tr>
        <tr>
          <td>Description:</td>
          <td>
            <input
              [(ngModel)]="newRequest.description"
              class="rounded"
              type="text"
            />
          </td>
        </tr>
        <tr>
            <td>Date Needed:</td>
            <td>
              <input
                [(ngModel)]="newRequest.dateNeeded"
                class="rounded"
                type="date"
              />
            </td>
          </tr>
        <tr>
          <td>Justification:</td>
          <td>
            <input
              [(ngModel)]="newRequest.justification"
              class="rounded"
              type="text"
            />
          </td>
        </tr>
        <tr>
          <td>Delivery Mode:</td>
          <td>
            <select
              [(ngModel)]="newRequest.deliveryMode"
              class="rounded"
              type="text"
             
            >
                <option>
                    {{ "Pickup" }}
                </option>
                <option>
                    {{ "Delivery" }}
                </option>
            </select>
          </td>
        </tr>
      </table>
    </main>
    <span>
        <span
        ><button (click)="addRequest()" class="btn btn-sm btn-primary">
          Save
        </button></span>
        </span>
        </div>
