<app-menu></app-menu>
<div>
    <section class="heading">
      <span class="page-title font-weight-bold font-italic">{{ title }}</span>
      <span> | <a routerLink="/request-list">Return to List</a></span>
    </section>
    <main class="single">
      <table class="table table-sm">
        <tr>
            <td>Product:</td>
            <td>
              <select [(ngModel)]="newLineitem.product.id" class="rounded">
                <option *ngFor="let p of products" [value]="p.id">{{ p.name }}</option>
              </select>
            </td>
          </tr>
        <tr>
          <td>Quantity:</td>
          <td>
            <input
              [(ngModel)]="newLineitem.quantity"
              class="rounded"
              type="number"
            />
          </td>
        </tr>
      </table>
    </main>
    <span>
      <span
        ><a routerLink="/lineitem-edit/{{ newLineitem.id }}" class="btn btn-sm btn-warning"
          >Edit</a
        ></span
      >
      <span
        ><button (click)="addLineitem()" class="btn btn-sm btn-primary">
          Save
        </button></span>
        </span>
        </div>

