<app-menu></app-menu>
<div class="p-4" *ngIf="request">
    <section class="heading">
      <span class="page-title font-weight-bold font-italic">Request</span>
      <span> | <a routerLink="/request-list">Return to List</a></span>
    </section>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
        <th>Id</th>
        <th>User</th>
        <th>Request Number</th>
        <th>Justification</th>
        <th>Description</th>
        <th>Status</th>
        <th>Delivery Mode</th>
        <th>Submitted Date</th>
        <th>Total</th>
        </tr>
      </thead>
      <tbody>
              <tr>  
          <td>{{request.id}}</td>
          <td>{{request.user.firstName}} {{request.user.lastName}}</td>
          <td>{{request.requestNumber}}</td>
          <td>{{request.justification}}</td>
          <td>{{request.description}}</td>
          <td>{{request.status}}</td>
          <td>{{request.deliveryMode}}</td>
          <td>{{request.submittedDate}}</td>
          <td>{{request.total}}</td>
        </tr>
      </tbody>
    </table>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{ title }}</span>
        <a routerLink="/lineitem-create/{{ request.id }}">
            <img width="20" height="20" src="add-icon.png" title="Add New" />
        </a>
      </section>

    <table *ngIf="lineitems" class="table table-striped table-hover">
      <thead>
        <tr>
        <th>Vendor</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
        <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let rl of lineitems">
          <tr *ngIf="request.id == rl.request.id">  
          <td>{{rl.product.vendor.name}}</td>
          <td>{{rl.product.name}}</td>
          <td>{{rl.quantity}}</td>
          <td>{{rl.product.price}}</td>
          <td>{{rl.lineTotal}}</td>
          <td><a routerLink="/lineitem-edit/{{ rl.id }}">
            <img
              src="pencil-icon.png"
              width="20"
              height="20"
              title="Edit Lineitem"
            />
          </a>
         </td>
        </tr>
      </ng-container>
      </tbody>
      </table>
      <span>
        </span>